html {
    background-color: #222;
    color: #ccc;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0 1em;
}
h1 {
    font-size: xx-large;
    font-weight: bold;
    margin: 1em 0;
}
#timer {
    font-family: 'Monaco','Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
}
p {
    line-height: 1.5em;
}
nav {
    display: flex;
    justify-content: space-between;
}
section, header, nav {
    background-color: #333;
    padding: 1rem;
    max-width: 60rem;
    margin: 1em auto;
    border-radius: .5em;
}
header {
    text-align: center;
    /* display: grid; */
}
section {
    display: grid;
}
button {
    background-color: #d8a450;
    color: #222;
    padding: .5em;
    border: none;
    margin: 1em;
    border-radius: .25em;
    max-width: fit-content;
}
#start-quiz {
    display: initial;
    /* change display to none in code when quiz starts */
}
#buttonA, #buttonB, #buttonC, #buttonD {
    min-width: max-content;
}
.questions {
    display: none;
    /* display: inline-grid; */
    /* set to inline grid when "enabled" */
}