html {
    background-color: #222;
    color: #ccc;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0 1em;
}
h1 {
    font-size: xx-large;
    font-weight: bold;
    margin: 1em 0;
}
#timer {
    font-family: 'Monaco','Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
}
input:hover {
    outline: solid .125em white;
    outline-offset: .125em;
}
input {
    color: #ccc;
    background-color: #222;
    border-style: none;
    padding: .5em;
    border-radius: .5em;
}
#raised {
    display: none;
    justify-content: space-between;

    padding: 1rem;
    background-color: #484848;
    border-radius: 1em;
}

p {
    line-height: 1.5em;
}
nav {
    display: flex;
    justify-content: space-between;
}
section, header, nav {
    background-color: #383838;
    padding: 1rem;
    max-width: 60rem;
    border-radius: .5em;
    margin: 1em auto;
}
header {
    text-align: center;
    /* display: grid; */
}
section {
    display: grid;
}
/* a:hover {
    color: white;
    text-decoration: none;
}
a {
    color: #222;
    text-decoration: none;
    background-color: red;
    padding: ;
} */
/* , #submit-score */
#input-form {
    display: none;
}
button:hover, a:hover {
    outline: solid .125em white;
    color: white;
    outline-offset: .125em;
}
button, a {
    text-decoration: none;
    background-color: #d8a450;
    color: #222;
    padding: .5em;
    border: none;
    margin: 1em;
    border-radius: .25em;
    max-width: fit-content;
}
#start-quiz {
    display: initial;
}
#buttonA, #buttonB, #buttonC, #buttonD {
    min-width: max-content;
}
.questions {
    display: none;
}